---
import Layout from '../layouts/BlogPost.astro';
import '../styles/about.css';
---

<Layout
	title="UDCについて"
	description="About our circle, UDC"
	pubDate={new Date('2025-04-01')}
	heroImage="/udc.jpg"
>

<h3>正式名称</h3>
<p>電通大デュエマサークル; UEC(University of Electro-Communications) DM Circle</p>

<h3>活動内容</h3>
<ul>
	<li>週に1度の定例会</li>
		<ul>
			<li>部員同士の対戦</li>
		</ul>
	<li>大会の開催</li>
		<ul>
			<li>UDCS</li>
			<li>UDCS in 調布祭</li>
		</ul>
	<li>大会参加</li>
		<ul>
			<li>DMGP</li>
			<li>DMCS</li>
		</ul>
	<li>Discord上での交流</li>
		<ul>
			<li>デッキ相談</li>
			<li>大会情報の共有</li>
			<li>新カード情報の共有・議論</li>
		</ul>
</ul>
<h3>沿革</h3>
	<ul>
		<li><b>2022年</b></li>
			<ul>
				<li>サークル設立</li>
			</ul>
		<li><b>2023年</b></li>
			<ul>
				<li>UDCSの開催</li>
				<li>公式Twitterアカウントの開設</li>
			</ul>
		<li><b>2024年</b></li>
			<ul>
				<li>新歓活動の実施</li>
				<li>「UDCS in 調布祭」を開催(ゲスト：おんそくさん)</li>
			</ul>
		<li><b>2025年</b></li>
			<ul>
				<li>公式Webサイトの開設</li>
				<li>新歓活動の実施</li>
			</ul>
	</ul>
<h3>メンバー</h3>
<ul>
	<li><b>2021年度入学</b></li>
		<ul>
			<li></li>
		</ul>
	<li><b>2022年度入学</b></li>
		<ul>
			<li></li>
		</ul>
	<li><b>2023年度入学</b></li>
		<ul>
			<li></li>
		</ul>
	<li><b>2024年度入学</b></li>
		<ul>
			<li></li>
		</ul>
</ul>

</Layout>