---
import Layout from "../layouts/BlogPost.astro";
import "../styles/about.css";
---

<Layout
	title="UDCについて"
	description="About our circle, UDC"
	pubDate={new Date("2025-04-01")}
	heroImage="/udc.jpg"
>
	<h3>正式名称</h3>
	<p>UDC(UECデュエマサークル)</p>

	<h3>活動内容</h3>
	<ul>
		<li>定例会(週に1度)</li>
		<ul>
			<li>部員同士の対戦</li>
			<ul>
				<li>オリジナル</li>
				<li>アドバンス</li>
				<li>デュエパーティ</li>
				<li>トッキュー8</li>
				<li>ブロックオリパ大会</li>
			</ul>
		</ul>
		<li>大会の開催</li>
		<ul>
			<li>UDCS(サークル内CS)</li>
			<li>UDCS in 調布祭(一般的なCS)</li>
		</ul>
		<li>大会参加</li>
		<ul>
			<li>DMCS</li>
			<li>DMGP</li>
		</ul>
		<li>Discord上での交流</li>
		<ul>
			<li>デッキ相談</li>
			<li>大会情報の共有</li>
			<li>新カード情報の共有・議論</li>
		</ul>
		<li>その他</li>
		<ul>
			<li>部会(月に1度)</li>
			<li>部員同士でのフリー対戦</li>
			<li>デュエマ関連ツール開発活動</li>
		</ul>
	</ul>
	<h3>沿革</h3>
	<ul>
		<li><b>2022年</b></li>
		<ul>
			<li>サークル設立</li>
			<li>公式Twitterアカウントの開設</li>
			<li>DMGP2022-2ndへの参加</li>
			<li>
				UDCS「<a href="/udcs#udcs-2022-1" target="_blank"
					>ボルシャック杯</a
				>」の開催
			</li>
		</ul>
		<li><b>2023年</b></li>
		<ul>
			<li>
				UDCS「<a href="/udcs#udcs-2023-1" target="_blank">禁忌録杯</a
				>」の開催
			</li>
			<li>DMGP2023-1stへの参加</li>
			<li>学友会準公認団体に昇格</li>
			<li>
				UDCS「<a href="/udcs#udcs-2023-2" target="_blank"
					>カラーレス杯</a
				>」の開催
			</li>
			<li>部内ブロックオリパ大会の開催</li>
		</ul>
		<li><b>2024年</b></li>
		<ul>
			<li>
				UDCS「<a href="/udcs#udcs-2024-1" target="_blank">ドラゴン杯</a
				>」の開催
			</li>
			<li>新歓活動の実施</li>
			<li>DMGP2024-1stへの参加(個人・チーム)</li>
			<li>学友会公認団体に昇格</li>
			<li>
				「<a href="/udcs-chofu#udcs-chofu-2024-1" target="_blank"
					>UDCS in 調布祭</a
				>」を開催(ゲスト：おんそく氏)
			</li>
		</ul>
		<li><b>2025年</b></li>
		<ul>
			<li>公式Webサイトの開設</li>
			<li>新歓活動の実施</li>
			<li>DMGP2025-1stへの参加(個人)</li>
			<li>
				UDCS「<a href="/udcs#udcs-2025-1" target="_blank">3色杯</a
				>」の開催
			</li>
			<li>
				UDCS「<a href="/udcs#udcs-2025-2" target="_blank"
					>2025第1回部内CS</a
				>」の開催
			</li>
			<li>
				UDCS「<a href="/udcs#udcs-2025-3" target="_blank"
					>2025第2回部内CS</a
				>」の開催
			</li>
			<li>DMGP2025-2ndへの参加(チーム)</li>
			<li>
				UDCS「<a href="/udcs#udcs-2025-4" target="_blank"
					>2025第3回部内CS</a
				>」の開催
			</li>
			<li>
				「<a href="/udcs-chofu#udcs-chofu-2025" target="_blank"
					>UDCS in 調布祭2025</a
				>」を開催
			</li>
		</ul>
	</ul>
	<h3>メンバー数</h3>
	<ul>
		<li><b>2019年度入学</b></li>
		<ul>
			<li>1人</li>
		</ul>
		<li><b>2021年度入学</b></li>
		<ul>
			<li>4人</li>
		</ul>
		<li><b>2022年度入学</b></li>
		<ul>
			<li>12人</li>
		</ul>
		<li><b>2023年度入学</b></li>
		<ul>
			<li>6人</li>
		</ul>
		<li><b>2024年度入学</b></li>
		<ul>
			<li>10人</li>
		</ul>
		<li><b>2025年度入学</b></li>
		<ul>
			<li>11人</li>
		</ul>
	</ul>
</Layout>
