---
import Layout from '../layouts/BlogPost.astro';
import '../styles/etc.css';
---

<Layout
	title="デッキレシピ集"
	description="Deck Recipe Collection"
	pubDate={new Date('2025-04-02')}
	heroImage="/udc.jpg"
>

<p>
    このページは部員が考案したデッキレシピをまとめたものです。
</p>

</Layout>