---
import Layout from '../layouts/BlogPost.astro';
import '../styles/etc.css';
---

<Layout
	title="DMCS"
	description="About DMCS"
	pubDate={new Date('2025-04-02')}
	heroImage="/udc.jpg"
>

<p>
    このページでは、部員が参加したDMCSの結果をまとめています。
</p>

</Layout>