---
import Layout from '../layouts/BlogPost.astro';
import '../styles/etc.css';
---

<Layout
	title="DMGP"
	description="About DMGP"
	pubDate={new Date('2025-04-02')}
	heroImage="/udc.jpg"
>

<p>
    このページでは、部員が参加したDMGPの結果をまとめています。
</p>

</Layout>