---
import Layout from '../layouts/BlogPost.astro';
import '../styles/etc.css';
---

<Layout
	title="環境考察"
	description="About Environment"
	pubDate={new Date('2025-04-02')}
	heroImage="/udc.jpg"
>

<p>
    このページは部員たちによる環境考察をまとめたものです。
</p>

</Layout>