---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import '../styles/index.css';
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>UDC公式Webサイト</h1>
			<div class="hero-image">
				<img src="/udc.jpg" alt="UDC" />
			</div>
			<h2>UDCについて</h2>
			<p>我々は<a href="https://www.uec.ac.jp/" target="_blank">電気通信大学</a>のサークルであり、『<a href=https://dm.takaratomy.co.jp/" target="_blank">デュエル・マスターズ</a>』のプレイを主な活動としています。</p>
			<h2>連絡先</h2>
			<p>
				Twitter(X): <a href="https://twitter.com/uecdmcircle" target="_blank">@uecdmcircle</a><br>
				Mail: <span class="under">uecdmcircle@gmail.com</span>
			</p>
			<h2>このサイトの技術スタック</h2>
			<ul>
				<li>Astro.js</li>
				<li>HTML/CSS</li>
				<li>GitHub Pages</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
