---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import '../styles/index.css';
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>UDC公式Webサイト</h1>
			<h2>UDCについて</h2>
			<p>我々は<a href="https://www.uec.ac.jp/" target="_blank">電気通信大学</a>のサークルであり、『<a href=https://dm.takaratomy.co.jp/" target="_blank">デュエル・マスターズ</a>』のプレイを主な活動としています。</p>
			<h2>リンク集</h2>
			<ul>
				<li><a href="/about" target="_blank">UDCの詳細</a></li>
				<li><a href="/blog" target="_blank">活動記録</a></li>
				<li><a href="" target="_blank">デッキ貸し出し(準備中)</a></li>
			</ul>
			<h2>連絡先</h2>
			<p>
				Twitter(X): <a href="https://twitter.com/uecdmcircle" target="_blank">@uecdmcircle</a><br>
				Mail: <span class="under">uecdmcircle@gmail.com</span>
			</p>
		</main>
		<Footer />
	</body>
</html>
