---
interface Props {
    result: {
        winners: string[];
        decks: string[];
        paths: string[];
    };
}
const { result } = Astro.props;
const { winners = [], decks=[], paths=[] } = result;
---

<h4>大会結果</h4>
{winners.map((winner, index) => (
    <p class="decks">
        {index + 1}位：<b>{winner}</b>さん ({decks[index]})<br />
        <img src={`/results/${paths[index]}`} alt={`${winner}さんのデッキ`} />
    </p>
))}